body{
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:'Î¢ÈíÑÅºÚ';
	position:relative;
}
ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.serchCon{
	
}
#tags{
	width: 300px;
	height: 40px;
	border: 1px solid #03243E;
	float: left;
	color: #03243E;
	background:rgba(255,255,255,0.8);
}
.searchArea{
	position:absolute;
	top:10px;
	left:10px;
}
.serchBtn{
	width: 50px;
	height: 40px;
	background: rgba(3,36,62,0.8) !important;
	color: #d9e6f2;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	margin: 0px;
	border-radius: 0px !important;
	float: left;
}
.serchBtn:hover, .serchBtn:focus{
	background:rgba(3,36,62,0.9) !important;
}
.ui-autocomplete{
	border: 1px solid #03243E;
	border-top-width:0px;
	background: rgba(3,36,62,0.8);
}
.ui-menu .ui-menu-item{
	color:#00E1FD;
}
.ui-menu .ui-menu-item:hover{
	background: rgba(3,36,62,0.9);
	color:#e5c877;
}
.menuArea{
	position:absolute;
	top:10px;
	right:10px;
}
.menuArea .menuAreaUl{
	border-radius:5px;
	overflow:hidden;
}
.menuArea .menuAreaList{
	float: left;
	padding: 0px 18px;
    padding-top: 0px;
	height: 40px;
	color: #d9e6f2;
	text-align: center;
	background: rgba(3,36,62,0.8);
	border-right: 1px dotted #a4c1f7;
	cursor: pointer;
	line-height: 11px;
	padding-top: 5px;
	font-size: 10px;
}
.menuArea .menuAreaList:hover{
	color:#ab8a2d;
	background:rgba(3,36,62,0.9);
}
.address{
	display:none;
	position:absolute;
	top:45px;
	left:0px;
	width:350px;
	border: 1px solid #03243E;;
	padding:5px;
	background: rgba(3,36,62,0.8);
}
.addressLists{
	/* max-height:500px !important; */
	overflow-y:auto;
}
.address .addressUL .addressList{
	height:90px;
	background:rgba(3,36,62,0.8);
	cursor:pointer;
	width:100%;
	margin-bottom:5px;
}
.address .addressUL .addressList:hover{
	background:rgba(3,36,62,0.9);
}
.address .addressUL .addressList .addressNum, .address .addressUL .addressList .addressDetail, .address .addressUL .addressList .addressImg{
	float:left;
}
.address .addressUL .addressList .addressNum{
	width:10%;
	height:90px;
	background:url(../../images/gis/red.png) no-repeat top center;
	/* background-size: 70% 70%; */
	color:rgba(3,36,62,0.8);
	text-align:center;
	line-height: 20px;
	color:#fff;
}
.address .addressUL .addressList:hover .addressNum{
	background:url(../../images/gis/blue.png) no-repeat top center;
	background-position:top center;
	color:#fff;
}

.address .addressUL .addressList .addressDetail{
	width:60%;
	height:90px;
}
.address .addressUL .addressList .addressDetail .p1{
	width:100%;
	height:30px;
	color:#3385ff;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin: 0px;
}
.address .addressUL .addressList .addressDetail .p2{
	width:100%;
	height:60px;
	color:#fff;
	line-height: 18px;
	font-size: 12px;
}
.address .addressUL .addressList .addressImg{
	width:30%;
	height:90px;
	background-size: 70% 70%;
	text-align:center;
	padding: 5px;
}
.address .addressUL .addressList .addressImg image{
	width:100%;
	height: 100%
}
.paginations{
	width:130px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:10px;
}
.paginations .forwardPage, .paginations .nextdPage{
	width:50%;
	text-align:center;
	color:#00d9f3;
	text-align:center;
	cursor:pointer;
	float:left;
}
.paginations .forwardPage:hover, .paginations .nextdPage:hover{
	color:#00d9f3;
}
.closeBtn{
	background: #00d9f3;
	color: #fff;
	width: 100%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}
.closeBtn:hover{
	background:#00d9f3;
}
.faBlock{
	display:block;
	font-size: 18px;
}

.delected{
	cursor:url(../../images/gis/delect.ico),auto !important;
}
#allmap{
	margin:0px !important;
}