body{
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:'寰杞榛';
	position:relative;
}
.mainContent {
	height: 100%;
}
ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.serchCon{
	
}
#tags{
	width: 300px;
	height: 40px;
	border: 1px solid #03243E;
	float: left;
	color: #03243E;
	background:rgba(255,255,255,0.8);
}
.searchArea{
	position:absolute;
	top:10px;
	left:10px;
}
.serchBtn{
	width: 50px;
	height: 40px;
	background: rgba(3,36,62,0.8) !important;
	color: #d9e6f2;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	margin: 0px;
	border-radius: 0px !important;
	float: left;
}
.serchBtn:hover, .serchBtn:focus{
	background:rgba(3,36,62,0.9) !important;
}
.ui-autocomplete{
	border: 1px solid #03243E;
	border-top-width:0px;
	background: rgba(3,36,62,0.8);
}
.ui-menu .ui-menu-item{
	color:#00E1FD;
}
.ui-menu .ui-menu-item:hover{
	background: rgba(3,36,62,0.9);
	color:#e5c877;
}
.page-content{
	height: 50% !important;
}
.menuArea{
	position:absolute;
	top:10px;
	right:10px;
	height: 98%;
	width: 22%;
}
.menuArea .menuAreaUl{
	border-radius:0px;
	overflow:hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.menuArea .menuAreaList{
	float: left;
	padding: 0px 0px;
	height: 36px;
	color: #d9e6f2;
	text-align: center;
	background: rgba(65, 67, 99, 0.8);
	border-right: 1px dotted #a4c1f7;
	cursor: pointer;
	line-height: 13px;
	padding-top: 10px;
	font-size: 10px;
	width:100%;
}
.menuArea .menuAreaList:hover{
	/*color:#ab8a2d;*/
	background:rgba(3,36,62,0.9);
	color: #00FFFF;
}
.address{
	display:none;
	position:absolute;
	top:45px;
	left:0px;
	width:350px;
	border: 1px solid #03243E;;
	padding:5px;
	background: rgba(3,36,62,0.8);
}
.addressLists{
	/* max-height:500px !important; */
	overflow-y:auto;
}
.address .addressUL .addressList{
	height:90px;
	background:rgba(3,36,62,0.8);
	cursor:pointer;
	width:100%;
	margin-bottom:5px;
}
.address .addressUL .addressList:hover{
	background:rgba(3,36,62,0.9);
}
.address .addressUL .addressList .addressNum, .address .addressUL .addressList .addressDetail, .address .addressUL .addressList .addressImg{
	float:left;
}
.address .addressUL .addressList .addressNum{
	width:10%;
	height:90px;
	background:url(../../images/gis/red.png) no-repeat top center;
	/* background-size: 70% 70%; */
	color:rgba(3,36,62,0.8);
	text-align:center;
	line-height: 20px;
	color:#fff;
}
.address .addressUL .addressList:hover .addressNum{
	background:url(../../images/gis/blue.png) no-repeat top center;
	background-position:top center;
	color:#fff;
}

.address .addressUL .addressList .addressDetail{
	width:60%;
	height:90px;
}
.address .addressUL .addressList .addressDetail .p1{
	width:100%;
	height:30px;
	color:#3385ff;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin: 0px;
}
.address .addressUL .addressList .addressDetail .p2{
	width:100%;
	height:60px;
	color:#fff;
	line-height: 18px;
	font-size: 12px;
}
.address .addressUL .addressList .addressImg{
	width:30%;
	height:90px;
	background-size: 70% 70%;
	text-align:center;
	padding: 5px;
}
.address .addressUL .addressList .addressImg image{
	width:100%;
	height: 100%
}
.paginations{
	width:130px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:10px;
}
.paginations .forwardPage, .paginations .nextdPage{
	width:50%;
	text-align:center;
	color:#00d9f3;
	text-align:center;
	cursor:pointer;
	float:left;
}
.paginations .forwardPage:hover, .paginations .nextdPage:hover{
	color:#00d9f3;
}
.closeBtn{
	background: #00d9f3;
	color: #fff;
	width: 100%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}
.closeBtn:hover{
	background:#00d9f3;
}
.faBlock{
	display:block;
	font-size: 18px;
}

.delected{
	cursor:url(../../images/gis/delect.ico),auto !important;
}
#allmap{
	margin:0px !important;
}
#gridContainerAdd {
	height: 39%;
}
.grid-full,#gridContainer {
	height: 100%;
}
.ui-jqgrid-bdiv{
    overflow-x: hidden !important;
}
.btn-primary {
	width: 70px;
	margin-top:2px;
}
.btn-default {
	width: 70px;
	margin-top:2px;
}
#gview_grid-table {
	height: auto;
}
#grid-table tbody tr:hover td{
	background: radial-gradient(circle, #005C7E, #10214B);
}
#gview_countryMapTable {
	height: 210px;
}
/* 基础单元周边css start */
.poiFont {
	vertical-align: 3px;
	font-size: 12px;
	color: white;
	margin-left: 22px;
}
#channelPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 3.5px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#channelPoiSpan:hover {
	background-color: #AD7AE1;
}
#stationPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 24px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#stationPoiSpan:hover {
	background-color: #DAA520;
}
#mallPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 46px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#mallPoiSpan:hover {
	background-color: #5BBAD3;
}
#schoolPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 68px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#schoolPoiSpan:hover {
	background-color: #FA6467;
}
#villagePoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 91px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#villagePoiSpan:hover {
	background-color: #69C260;
}
#townPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 111px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#townPoiSpan:hover {
	background-color: #FD8A58;
}
#marketPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 131px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#marketPoiSpan:hover {
	background-color: #27AFFF;
}
#allChannelPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 154px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#allChannelPoiSpan:hover {
	background-color: #AD7AE1;
}
#allStationPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 177px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#allStationPoiSpan:hover {
	background-color: #DAA520;
}
#opticalBoxPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 198px;
	background-color: #FFEFD5;
	margin-left: 23.5px;
}
#opticalBoxPoiSpan:hover {
	background-color: #7A67EE;
}
#splittingBoxPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 219px;
	background-color: #FFEFD5;
	margin-left: 23.5px;
}
#splittingBoxPoiSpan:hover {
	background-color: #7A67EE;
}
#communityManagerSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 241px;
	background-color: #FFEFD5;
	margin-left: 25.5px;
}
#communityManagerSpan:hover {
	background-color: #7A67EE;
}
#communityPoiSpan {
	width: 20px;
	height: 12px;
	position: absolute;
	top: 152px;
	background-color: #FFEFD5;
	margin-left: 22px;
}
#communityPoiSpan:hover {
	background-color: #CD6839;
}
#poiImg {
	position: absolute;
	left: 38%;
	top: 96%;
	width: 430px;
	height: 36px;
	background-color: rgba(101, 101, 126, 0.8);
	z-index: 9999;
	text-align: center;
}
#poiImg ul {
	margin-top: 2px;
	list-style: none;
    text-align: center;
}
#poiImg ul li {
	display: inline;
	margin: 5px;
}
#poiImg img {
	width: 18px;
	height: 18px;
}
#poiImg font {
    color: white;
    font-size: 12px;
	padding-left: 5px;
}
/* 去除百度地图左下角logo */
.BMap_cpyCtrl {
	display: none;
}
.anchorBL a {
	display: none;
}
/* 基础单元周边css end */
.exportFont {
	vertical-align: 3px;
	font-size: 12px;
	color: white;
	margin-left: 0px;
}
.exportSpans {
	margin-right: 50px;
}
.checkbox:hover {
	cursor: pointer;
}
#gridInfos {
	vertical-align: middle;
	height: 27px;
	text-align: center;
	font-size: 10px;
	color: white;
}
.exportBtn {
	vertical-align: middle;
	border-radius: 0px;
	width: 17%;
	height: 27px;
	text-align: center;
	font-size: 10px;
	position: relative;
	background: #3385FE;
	border-color: #3385FE;
	color: white;
}