@charset "UTF-8";

.msc_input {
	width:259px;
	height: 30px;
	border: 1px solid #03243E !important;
	color: #03243E  !important;
	background:rgba(255,255,255,0.6) !important;
}
.msc_input::-ms-clear{
	display:none;
}
.msc_clearBtn{
	width: 22px; 
	text-align: center;
	 color: rgb(175, 175, 175); 
	 padding-right: 5px; 
	 font-size: 20px;
	 
    vertical-align: middle;
    display: none;
    cursor:pointer;
	position: absolute;
	z-index: 20;
	line-height: 40px;
	right: 32px;
	top:0px;
	margin-top: -5px;
}
.msc_serchBtn{
	width: 35px;
	height: 31px;
	background: #3385FE !important;
	color: #d9e6f2;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	margin: 0px;
	margin-top:-1px;
	border-radius: 0px !important;
}
.fa-search {
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
}
.map_search_addressUL {
	background:rgba(255,255,255,0.8);
	width:294px;
	overflow-y:auto;
	padding-bottom: 8px;
	display: none;
}

.map_search_addressUL .addressList {
	background:rgba(255,255,255,0.8);
	display:inline-block;
	width:100%;
	margin-top: 6px;
	cursor:pointer;
}
.map_search_addressUL .addressList:hover {
	background:#f7f7f7;

}

.map_search_addressUL .addressList .addressNum{
	width:30px;
	height:58px;
	background:url(../../images/gis/red.png) no-repeat center 16px !important;
	text-align:center;
	line-height: 55px;
	color:#fff;
	font-weight: 600;
	margin: 6px 3px 0px 3px;
	float: left;
}
 .map_search_addressUL .addressList:hover .addressNum{
	background:url(../../images/gis/blue.png) no-repeat top center;
	background-position:top center;
	color:#fff;
}

.map_search_addressUL .addressList .addrInfo{
	width:220px;
	height:30px;
	color:#666;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin: 0px;
	line-height:38px;
	font-size: 12px;
	margin-left:10px;
}
.map_search_addressUL .addressList .nameInfo{
	width:220px;
	height:30px;
	color:#367fd4;
	line-height: 18px;
	font-size: 14px;
	padding-top: 14px;
	margin-bottom:0px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-left:10px;
}
.map_search_addressUL .addressList .addrImg{
	width:71px;
	height:58px;
	float:right;
	margin-right: 4px;
	margin-top: 3px;
}

.map_search_totalDiv{
	background:rgba(3,36,62,0.5);
	width:294px;
	display: none;
	color:lavender;
	font-size: 14px;
	line-height: 30px;
	padding-left: 20px;	
}
.pageLi{
	text-align: center;
	font-size: 14px;
	line-height: 40px;	
}
.pageBtn {
	padding:0px 20px;
	color:navy;
	cursor:pointer;
	 
}
.pageNoBtn{
	padding:0px 20px;
	color:#808080;
	 
}

#msc_input_div .ui-autocomplete{
	border: 1px solid #03243E;
	border-top-width:0px;
	background: rgba(255,255,255,0.8);
}
#msc_input_div .ui-menu .ui-menu-item{
	color:#666666;
	font-weight: bold;
	font-size:13px;
}
#msc_input_div .ui-menu .ui-menu-item:hover{
	 background: rgba(255,255,255,0.8);
	 color:#367fd4;
	 font-weight: bold;
	 font-size:13px;
}
.map_search_totalDiv span{
	color:#367fd4;
}