<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.exam.dao.mapper.GridRankDetailMapper">
	<resultMap id="gridRankDetailMap" type="com.bonc.exam.dao.entity.GridRankDetail">
		<result column="EVALUATE_CYCLE_TYPE" jdbcType="VARCHAR" property="evaluateCycleType" />
		<result column="EVALUATE_CYCLE" jdbcType="VARCHAR" property="evaluateCycle" />
		<result column="OBJECT_ID" jdbcType="VARCHAR" property="objectId" />
		<result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName" />
		<result column="GRID_TYPE" jdbcType="VARCHAR" property="gridType" />
		<result column="KPI_ID" jdbcType="VARCHAR" property="kpiId" />
		<result column="KPI_NAME" jdbcType="VARCHAR" property="kpiName" /> 
		<result column="OBJECT_TYPE" jdbcType="VARCHAR" property="objectType" />
		<result column="KPI_SCORE" jdbcType="VARCHAR" property="kpiScore" />
		<result column="GRID_CODE" jdbcType="VARCHAR" property="gridCode" />
		<result column="GRID_NAME" jdbcType="VARCHAR" property="gridName" />
	</resultMap>
	
	<!-- 单项指标信息 -->
	<select id="getGridRankDetailInfo" parameterType="java.lang.String" resultType="com.bonc.exam.dao.entity.GridRankDetail">
		SELECT 
			EVALUATE_CYCLE_TYPE, EVALUATE_CYCLE, OBJECT_ID, OBJECT_NAME, OBJECT_TYPE,KPI_ID, KPI_NAME, NVL(KPI_SCORE,0) KPI_SCORE
		FROM 
			GRID_RANK_DETAIL 
		WHERE 
			1=1
		<if test="gridInfoList  != null and gridInfoList != ''">
			AND GRID_RANK_DETAIL.GRID_CODE in
		  	<foreach collection="gridInfoList" item="obj" index="index" open="(" separator="," close=")">
				#{obj.gridCode}
		  	</foreach>  
		</if>
		<if test="girdRankDetail.evaluateCycleType != null and girdRankDetail.evaluateCycleType != ''">
		 	AND EVALUATE_CYCLE_TYPE =#{girdRankDetail.evaluateCycleType,jdbcType=VARCHAR}
		</if>
		<if test="girdRankDetail.evaluateCycle  != null and girdRankDetail.evaluateCycle != ''">
			AND EVALUATE_CYCLE = #{girdRankDetail.evaluateCycle,jdbcType=VARCHAR}
		</if>
		<if test="girdRankDetail.kpiId != null and girdRankDetail.kpiId != ''">
			AND KPI_ID = #{girdRankDetail.kpiId,jdbcType=VARCHAR}
		</if>
		<if test="girdRankDetail.evaluateCycle  != null and girdRankDetail.evaluateCycle != ''">
			AND GRID_CODE = #{girdRankDetail.evaluateCycle,jdbcType=VARCHAR}
		</if>
		AND 
			status='3'
		ORDER BY 
			EVALUATE_CYCLE DESC, KPI_ID, KPI_SCORE DESC   
	</select>
	
	<!-- 单项指标信息Modify -->
	<select id="getGridRankDetailInfoModify" parameterType="java.lang.String" resultMap="gridRankDetailMap">
		SELECT 
			EVALUATE_CYCLE_TYPE, EVALUATE_CYCLE, OBJECT_ID, OBJECT_NAME, OBJECT_TYPE,KPI_ID, KPI_NAME, NVL(KPI_SCORE,0) KPI_SCORE
		FROM 
			GRID_RANK_DETAIL 
		WHERE 
			1=1
		AND 
			GRID_RANK_DETAIL.OBJECT_ID in
		  	<foreach collection="gridInfoList" item="obj" index="index" open="(" separator="," close=")">
				#{obj.gridCode}
		  	</foreach>  
		<if test="girdRankDetail.evaluateCycleType != null and girdRankDetail.evaluateCycleType != ''">
		 	AND EVALUATE_CYCLE_TYPE =#{girdRankDetail.evaluateCycleType,jdbcType=VARCHAR}
		</if>
		<if test="girdRankDetail.evaluateCycle  != null and girdRankDetail.evaluateCycle != ''">
			AND EVALUATE_CYCLE = #{girdRankDetail.evaluateCycle,jdbcType=VARCHAR}
		</if>
		<if test="girdRankDetail.kpiId  != null and girdRankDetail.kpiId != ''">
			AND KPI_ID = #{girdRankDetail.kpiId,jdbcType=VARCHAR}
		</if>
		AND 
			status='3' 
		AND 
			OBJECT_TYPE IN ('gridLevel1', 'gridLevel2', 'gridLevel3')
		ORDER BY 
			EVALUATE_CYCLE DESC, KPI_ID, KPI_SCORE DESC   
	</select>
	
	<select id="getEvaluateCycle" resultType="com.bonc.exam.dao.entity.GridRankDetail" >
		SELECT DISTINCT EVALUATE_CYCLE FROM GRID_RANK_DETAIL WHERE EVALUATE_CYCLE !='' AND EVALUATE_CYCLE IS NOT NULL 
	</select>
	
	<select id="getRankDetail" parameterType="java.lang.String" resultType="com.bonc.exam.dao.entity.GridRankDetail">
		SELECT 
			EVALUATE_CYCLE_TYPE, EVALUATE_CYCLE, OBJECT_ID, OBJECT_NAME, OBJECT_TYPE, KPI_ID, KPI_NAME, KPI_SCORE
		FROM 
			GRID_RANK_DETAIL 
		WHERE 
			1=1 
		AND 
			OBJECT_ID = #{id,jdbcType=VARCHAR} 
		AND 
			EVALUATE_CYCLE_TYPE = #{ect,jdbcType=VARCHAR}
		AND 
			EVALUATE_CYCLE = #{et,jdbcType=VARCHAR} 
		AND 
			OBJECT_TYPE = #{ot,jdbcType=VARCHAR} 
		AND 
			status = '3'
	</select>
</mapper>